:root {
  --main-font-family: "Quicksand", sans-serif;
  --text-center: center;
  --secondary-font-family: "Sacramento", cursive;
  --text-colour: white;
  --hover-colour: #9a733f;
}

#contact-container {
  background-image: url(../images/contact-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 1000px;
}
#contact-box {
  position: fixed;
  top: 100px;
  left: 290px;
  color: #212529;
  font-family: var(--main-font-family);
}
#greetings {
  font-family: var(--secondary-font-family);
  font-size: 34px;
  font-style: italic;
  margin-bottom: 0px;
}
#line-1 {
  width: 300px;
  border: 1px solid #212529;
}
#sign-off {
  font-size: 28px;
  font-family: var(--secondary-font-family);
  margin-bottom: 3px;
  font-style: italic;
}
#my-name {
  margin-bottom: 5px;
  font-size: 18px;
}
#socials-box {
  position: fixed;
  top: 515px;
  left: 550px;
  font-family: var(--main-font-family);
}
#socials-title {
  font-size: 32px;
  font-family: var(--secondary-font-family);
  margin-bottom: 0px;
  font-style: italic;
}
#line-2 {
  border: 1px solid #212529;
  width: 300px;
}
#email {
  font-size: 13px;
}
#linkedin {
  font-size: 13px;
  color: #212529;
  text-decoration: none;
}
#linkedin:hover {
  color: white;
}
