:root {
  --main-font-family: "Quicksand", sans-serif;
  --text-center: center;
  --secondary-font-family: "Sacramento", cursive;
}
body {
  background-color: #212529;
}

#intro {
  background: url("../images/intro-background.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--main-font-family);
  text-align: var(--text-center);
  height: 550px;
  padding-top: 70px;
}
#intro-box {
  background-color: rgba(255, 255, 255, 0.8);
  height: fit-content;
}
#greeting {
  font-family: var(--secondary-font-family);
  font-size: 38px;
  margin-bottom: 5px;
}
#city {
  font-family: var(--secondary-font-family);
  font-size: 28px;
  text-decoration: none;
  color: black;
}
#city:hover {
  color: #9a733f;
}
#line-1 {
  width: 500px;
  display: block;
  margin: 0px auto;
  border: 1.25px solid black;
}
#line-2 {
  width: 800px;
  display: block;
  margin: 0px auto;
  border: 1.25px solid black;
}
@media (max-width: 1000px) {
  #line-1 {
    max-width: 50%;
  }
  #line-2 {
    max-width: 85%;
  }
}
