:root {
  --main-font-family: "Quicksand", sans-serif;
  --text-center: center;
}
body {
  background: url("../images/intro-background.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--main-font-family);
}
#intro {
  text-align: var(--text-center);
  background-color: rgba(255, 255, 255, 0.8);
}
